# Prerequisites
*.d

# MS VS build files
*.vsidx
*.db
*.idb
*.pdb
*.ilk
*.suo
*.p7s
*.ipch
*.ipdb
*.iobj
*.tlog
*.nupkg
*.recipe
*.config
*.opendb
*.db-wal
*.db-shm
*.CopyComplete

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
.vscode/

# Other
*.vcd
*.bak
*.log
